<div class="container">
  <div class="d-flex flex-column align-items-center">
    <div class="justify-content-md-center">
        <div class="mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= @article.title %></h5>
              <hr class="my-4">
              <p class="card-text"><%= simple_format(@article.description) %></p>
              <br/>
              <%= link_to 'Edit', edit_article_path(@article.id), {:class => "btn btn-outline-primary"} %>
              <%= link_to 'Delete', article_path(@article), data: {"turbo-method": :delete , "turbo-confirm": "Are you sure?"}, class: "btn btn-outline-primary" %>
              <%= link_to "Return to articles" , articles_path, {:class => "btn btn-outline-primary"} %>
            </div>
            <div class="card-footer text-muted">
              <small>by <%= @article.user.username if @article.user%>, created <%= time_ago_in_words(@article.created_at) %></small>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

